<a href="https://colab.research.google.com/github/Armando122104/Examen_Final_U1/blob/main/Examen_Final_U1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ejercicio 1: Análisis de Transacciones de E-commerce

Carga el archivo examen_transacciones.xlsx (2 punto)
2. Visualiza los primeros 10 datos de la tabla (3 puntos)
3. Imprime el nombre de las variables (3 puntos)
4. Crea una columna llamada "Subtotal" que multiplique Cantidad por Precio_Unitario (3 puntos).
5. Crea una columna a la derecha de “Subtotal” llamada “IVA Trasladado” que multiplique el subtotal por 0.16 (3 puntos)

In [ ]:
import pandas as pd

# Carga el archivo examen_transacciones.xlsx (2 punto)
df = pd.read_excel('examen_transacciones.xlsx')

# Visualiza los primeros 10 datos de la tabla (3 puntos)
print(df.head(10))
print('')

# Imprime el nombre de las variables (3 puntos)
print(df.columns)
print('')

# Crea una columna llamada "Subtotal" que multiplique Cantidad por Precio_Unitario (3 puntos).
df['Subtotal'] = df['Cantidad'] * df['Precio_Unitario']
print('Subtotal: ', df['Subtotal'])
print('')

# Crea una columna a la derecha de “Subtotal” llamada “IVA Trasladado” que multiplique el subtotal por 0.16 (3 puntos)
df['IVA Trasladado'] = df['Subtotal'] * 0.16
print('IVA Trasladado: ', df['IVA Trasladado'])

   ID_Transaccion       Fecha  Cliente_ID Producto  Cantidad  Precio_Unitario  \
0            1001  2024-01-15         501   Laptop         1            15000
1            1002  2024-01-16         502    Mouse         2              350
2            1003  2024-01-16         503  Teclado         1              800
3            1004  2024-01-17         501  Monitor         1             4500
4            1005  2024-01-18         504   Laptop         2            15000
5            1006  2024-01-19         505    Mouse         3              350
6            1007  2024-01-20         502  Teclado         2              800
7            1008  2024-01-21         506  Monitor         1             4500
8            1009  2024-01-22         507   Laptop         1            15000
9            1010  2024-01-23         503    Mouse         2              350

       Estado    Metodo_Pago
0  Completado        Tarjeta
1  Completado         PayPal
2   Pendiente        Tarjeta
3  Completado  Transferencia
4  Completado        Tarjeta
5   Cancelado         PayPal
6  Completado        Tarjeta
7  Completado  Transferencia
8   Pendiente        Tarjeta
9  Completado         PayPal

Index(['ID_Transaccion', 'Fecha', 'Cliente_ID', 'Producto', 'Cantidad',
       'Precio_Unitario', 'Estado', 'Metodo_Pago'],
      dtype='object')

Subtotal:  0     15000
1       700
2       800
3      4500
4     30000
5      1050
6      1600
7      4500
8     15000
9       700
10      800
11     9000
12    15000
13     1050
14     1600
15     4500
16    15000
17      700
18      800
19     4500
Name: Subtotal, dtype: int64

IVA Trasladado:  0     2400.0
1      112.0
2      128.0
3      720.0
4     4800.0
5      168.0
6      256.0
7      720.0
8     2400.0
9      112.0
10     128.0
11    1440.0
12    2400.0
13     168.0
14     256.0
15     720.0
16    2400.0
17     112.0
18     128.0
19     720.0
Name: IVA Trasladado, dtype: float64

Filtra solo las transacciones con estado "Completado" (2 puntos)
7. Calcula el total de ventas completadas por producto incluyendo impuestos (3 puntos)
8. Identifica cuál fue el total de las ventas con IVA incluido e imprime el resultado en salida estándar creando una variable llamada “Total_Ventas” (3 puntos)
9. Calcula el máximo de ventas por cliente (considera solo transacciones completadas) (3 puntos)
10. Crea una columna llamada “Max_ventas_clitente” que guarde el máximo de ventas para cada cliente calculado en el paso 9 (3 puntos)

In [ ]:
# Filtra solo las transacciones con estado "Completado" (2 puntos)
df_completados = df[df['Estado'] == 'Completado'].copy()
print(df_completados)

#  Calcula el total de ventas completadas por producto incluyendo impuestos (3 puntos)
df_completados['Total_Ventas'] = df_completados['Subtotal'] + df_completados['IVA Trasladado']
print(df_completados)

# 8. Identifica cuál fue el total de las ventas con IVA incluido e imprime el resultado en salida estándar creando una variable llamada “Total_Ventas” (3 puntos)
total_ventas = df_completados['Total_Ventas'].sum()
print('Total de ventas con IVA incluido: ', total_ventas)

# Calcula el máximo de ventas por cliente (considera solo transacciones completadas) (3 puntos)
max_ventas_por_cliente = df_completados.groupby('Cliente_ID')['Total_Ventas'].max()
print(max_ventas_por_cliente)

# 10. Crea una columna llamada “Max_ventas_clitente” que guarde el máximo de ventas para cada cliente calculado en el paso 9 (3 puntos)
df_completados['Max_ventas_cliente'] = df_completados['Cliente_ID'].map(max_ventas_por_cliente)
print(df_completados)

    ID_Transaccion       Fecha  Cliente_ID Producto  Cantidad  \
0             1001  2024-01-15         501   Laptop         1
1             1002  2024-01-16         502    Mouse         2
3             1004  2024-01-17         501  Monitor         1
4             1005  2024-01-18         504   Laptop         2
6             1007  2024-01-20         502  Teclado         2
7             1008  2024-01-21         506  Monitor         1
9             1010  2024-01-23         503    Mouse         2
10            1011  2024-01-24         508  Teclado         1
12            1013  2024-01-26         501   Laptop         1
13            1014  2024-01-27         510    Mouse         3
15            1016  2024-01-29         502  Monitor         1
16            1017  2024-01-30         511   Laptop         1
17            1018  2024-01-31         512    Mouse         2
18            1019  2024-02-01         505  Teclado         1

    Precio_Unitario      Estado    Metodo_Pago  Subtotal  IVA Trasladado
0             15000  Completado        Tarjeta     15000          2400.0
1               350  Completado         PayPal       700           112.0
3              4500  Completado  Transferencia      4500           720.0
4             15000  Completado        Tarjeta     30000          4800.0
6               800  Completado        Tarjeta      1600           256.0
7              4500  Completado  Transferencia      4500           720.0
9               350  Completado         PayPal       700           112.0
10              800  Completado        Tarjeta       800           128.0
12            15000  Completado        Tarjeta     15000          2400.0
13              350  Completado         PayPal      1050           168.0
15             4500  Completado  Transferencia      4500           720.0
16            15000  Completado        Tarjeta     15000          2400.0
17              350  Completado         PayPal       700           112.0
18              800  Completado        Tarjeta       800           128.0
    ID_Transaccion       Fecha  Cliente_ID Producto  Cantidad  \
0             1001  2024-01-15         501   Laptop         1
1             1002  2024-01-16         502    Mouse         2
3             1004  2024-01-17         501  Monitor         1
4             1005  2024-01-18         504   Laptop         2
6             1007  2024-01-20         502  Teclado         2
7             1008  2024-01-21         506  Monitor         1
9             1010  2024-01-23         503    Mouse         2
10            1011  2024-01-24         508  Teclado         1
12            1013  2024-01-26         501   Laptop         1
13            1014  2024-01-27         510    Mouse         3
15            1016  2024-01-29         502  Monitor         1
16            1017  2024-01-30         511   Laptop         1
17            1018  2024-01-31         512    Mouse         2
18            1019  2024-02-01         505  Teclado         1

    Precio_Unitario      Estado    Metodo_Pago  Subtotal  IVA Trasladado  \
0             15000  Completado        Tarjeta     15000          2400.0
1               350  Completado         PayPal       700           112.0
3              4500  Completado  Transferencia      4500           720.0
4             15000  Completado        Tarjeta     30000          4800.0
6               800  Completado        Tarjeta      1600           256.0
7              4500  Completado  Transferencia      4500           720.0
9               350  Completado         PayPal       700           112.0
10              800  Completado        Tarjeta       800           128.0
12            15000  Completado        Tarjeta     15000          2400.0
13              350  Completado         PayPal      1050           168.0
15             4500  Completado  Transferencia      4500           720.0
16            15000  Completado        Tarjeta     15000          2400.0
17              350  Completado         PayPal       700           112.0
18              800  Completado        Tarjeta       800           128.0

    Total_Ventas
0        17400.0
1          812.0
3         5220.0
4        34800.0
6         1856.0
7         5220.0
9          812.0
10         928.0
12       17400.0
13        1218.0
15        5220.0
16       17400.0
17         812.0
18         928.0
Total de ventas con IVA incluido:  110026.0
Cliente_ID
501    17400.0
502     5220.0
503      812.0
504    34800.0
505      928.0
506     5220.0
508      928.0
510     1218.0
511    17400.0
512      812.0
Name: Total_Ventas, dtype: float64
    ID_Transaccion       Fecha  Cliente_ID Producto  Cantidad  \
0             1001  2024-01-15         501   Laptop         1
1             1002  2024-01-16         502    Mouse         2
3             1004  2024-01-17         501  Monitor         1
4             1005  2024-01-18         504   Laptop         2
6             1007  2024-01-20         502  Teclado         2
7             1008  2024-01-21         506  Monitor         1
9             1010  2024-01-23         503    Mouse         2
10            1011  2024-01-24         508  Teclado         1
12            1013  2024-01-26         501   Laptop         1
13            1014  2024-01-27         510    Mouse         3
15            1016  2024-01-29         502  Monitor         1
16            1017  2024-01-30         511   Laptop         1
17            1018  2024-01-31         512    Mouse         2
18            1019  2024-02-01         505  Teclado         1

    Precio_Unitario      Estado    Metodo_Pago  Subtotal  IVA Trasladado  \
0             15000  Completado        Tarjeta     15000          2400.0
1               350  Completado         PayPal       700           112.0
3              4500  Completado  Transferencia      4500           720.0
4             15000  Completado        Tarjeta     30000          4800.0
6               800  Completado        Tarjeta      1600           256.0
7              4500  Completado  Transferencia      4500           720.0
9               350  Completado         PayPal       700           112.0
10              800  Completado        Tarjeta       800           128.0
12            15000  Completado        Tarjeta     15000          2400.0
13              350  Completado         PayPal      1050           168.0
15             4500  Completado  Transferencia      4500           720.0
16            15000  Completado        Tarjeta     15000          2400.0
17              350  Completado         PayPal       700           112.0
18              800  Completado        Tarjeta       800           128.0

    Total_Ventas  Max_ventas_cliente
0        17400.0             17400.0
1          812.0              5220.0
3         5220.0             17400.0
4        34800.0             34800.0
6         1856.0              5220.0
7         5220.0              5220.0
9          812.0               812.0
10         928.0               928.0
12       17400.0             17400.0
13        1218.0              1218.0
15        5220.0              5220.0
16       17400.0             17400.0
17         812.0               812.0
18         928.0               928.0

Calcula el promedio de ventas por producto (considera solo transacciones completadas) (3 puntos)
12. Crea una columna llamada “Mean_ventas_producto” que guarde el promedio de ventas para cada cliente calculado en el paso 11 (3 puntos)
13. Guarda el resumen de ventas por producto en un archivo llamado "Ventas_completadas_[tus iniciales].xlsx" por ejemplo, “Ventas_completadas_SLFB” (3 puntos)
14. Adjunta la base de datos a la entrega (3 puntos)

In [ ]:
# Calcula el promedio de ventas por producto (considera solo transacciones completadas) (3 puntos)
mean_ventas_por_producto = df_completados.groupby('Producto')['Total_Ventas'].mean()
print(mean_ventas_por_producto)

# Crea una columna llamada “Mean_ventas_producto” que guarde el promedio de ventas para cada cliente calculado en el paso 11 (3 puntos)
df_completados['Mean_ventas_producto'] = df_completados['Producto'].map(mean_ventas_por_producto)
print(df_completados)

# Guarda el resumen de ventas por producto en un archivo llamado "Ventas_completadas_[tus iniciales].xlsx" por ejemplo, “Ventas_completadas_SLFB” (3 puntos)
df_resumen_ventas = df_completados.groupby('Producto')['Total_Ventas'].sum().reset_index()
df_resumen_ventas.to_excel('Ventas_completadas_JAMP.xlsx', index=False)

Producto
Laptop     21750.000000
Monitor     5220.000000
Mouse        913.500000
Teclado     1237.333333
Name: Total_Ventas, dtype: float64
    ID_Transaccion       Fecha  Cliente_ID Producto  Cantidad  \
0             1001  2024-01-15         501   Laptop         1
1             1002  2024-01-16         502    Mouse         2
3             1004  2024-01-17         501  Monitor         1
4             1005  2024-01-18         504   Laptop         2
6             1007  2024-01-20         502  Teclado         2
7             1008  2024-01-21         506  Monitor         1
9             1010  2024-01-23         503    Mouse         2
10            1011  2024-01-24         508  Teclado         1
12            1013  2024-01-26         501   Laptop         1
13            1014  2024-01-27         510    Mouse         3
15            1016  2024-01-29         502  Monitor         1
16            1017  2024-01-30         511   Laptop         1
17            1018  2024-01-31         512    Mouse         2
18            1019  2024-02-01         505  Teclado         1

    Precio_Unitario      Estado    Metodo_Pago  Subtotal  IVA Trasladado  \
0             15000  Completado        Tarjeta     15000          2400.0
1               350  Completado         PayPal       700           112.0
3              4500  Completado  Transferencia      4500           720.0
4             15000  Completado        Tarjeta     30000          4800.0
6               800  Completado        Tarjeta      1600           256.0
7              4500  Completado  Transferencia      4500           720.0
9               350  Completado         PayPal       700           112.0
10              800  Completado        Tarjeta       800           128.0
12            15000  Completado        Tarjeta     15000          2400.0
13              350  Completado         PayPal      1050           168.0
15             4500  Completado  Transferencia      4500           720.0
16            15000  Completado        Tarjeta     15000          2400.0
17              350  Completado         PayPal       700           112.0
18              800  Completado        Tarjeta       800           128.0

    Total_Ventas  Max_ventas_cliente  Mean_ventas_producto
0        17400.0             17400.0          21750.000000
1          812.0              5220.0            913.500000
3         5220.0             17400.0           5220.000000
4        34800.0             34800.0          21750.000000
6         1856.0              5220.0           1237.333333
7         5220.0              5220.0           5220.000000
9          812.0               812.0            913.500000
10         928.0               928.0           1237.333333
12       17400.0             17400.0          21750.000000
13        1218.0              1218.0            913.500000
15        5220.0              5220.0           5220.000000
16       17400.0             17400.0          21750.000000
17         812.0               812.0            913.500000
18         928.0               928.0           1237.333333